:root{
    --borderimg: 10px solid transparent;
}
.projet-img{
    max-width: 90%;
    height: 325px;
    border: var(--borderimg);
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projet-img-text{
    padding: 20px;
    font-size: 20px;
}