.title404{
    font-size: 100px;
    color: var(--blueNav);
}

.phrase404{
    font-size: 40px;
    color: var(--blueNav);
}

.NotFound{
    background-image: url("../images/carte.jpg");
    background-size: 100%;
    background-color: rgb(163, 143, 104);
    height: 100%;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
}